* {
  margin:0px;
  padding:0px;
}

a {
  display: none;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
p {
  display: inline;
  width: 4000px;
  margin: 50px auto;}





